<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Puppy</title>

    <form action="/" method="post">
      Name: <input type="text" name="name">
      Breed: <input type="text" name="breed" value="">
      Age: <input type="number" name="age" value="">
      <input type="submit" name="submit" value="">

    </form>
  </head>
  <body>

  </body>
</html>
